USE [master]
GO
/****** Object:  Database [Bus_Information]    Script Date: 14/03/2024 22:16:59 ******/
CREATE DATABASE [Bus_Information]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bus_Information', FILENAME = N'D:\Academic Projects\27. Bus Route Information Portal\BusRoute\Bus_Information.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bus_Information_log', FILENAME = N'D:\Academic Projects\27. Bus Route Information Portal\BusRoute\Bus_Information_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bus_Information].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bus_Information]
GO
/****** Object:  Table [dbo].[BusDetails]    Script Date: 14/03/2024 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusDetails](
	[auto_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BusNumber] [varchar](50) NULL,
	[Starting_point] [varchar](50) NULL,
	[ending_point] [varchar](50) NULL,
 CONSTRAINT [PK_BusDetails] PRIMARY KEY CLUSTERED 
(
	[auto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QueryTab]    Script Date: 14/03/2024 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueryTab](
	[Query_no] [numeric](18, 0) NOT NULL,
	[Query_heading] [varchar](100) NULL,
	[Detailed_Query] [varchar](max) NULL,
	[Com_number] [varchar](50) NULL,
	[User_id] [numeric](18, 0) NULL,
 CONSTRAINT [PK_QueryTab] PRIMARY KEY CLUSTERED 
(
	[Query_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteMaster]    Script Date: 14/03/2024 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteMaster](
	[Route_id] [numeric](18, 0) NOT NULL,
	[Route_name] [varchar](50) NULL,
 CONSTRAINT [PK_RouteMaster] PRIMARY KEY CLUSTERED 
(
	[Route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StopMaster]    Script Date: 14/03/2024 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StopMaster](
	[Stop_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BusNumber] [varchar](50) NULL,
	[Stop_no] [numeric](18, 0) NULL,
	[Stop_name] [varchar](50) NULL,
	[Arrival_time] [varchar](50) NULL,
	[Charges] [varchar](50) NULL,
 CONSTRAINT [PK_StopMaster] PRIMARY KEY CLUSTERED 
(
	[Stop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 14/03/2024 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[route_name] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userreg]    Script Date: 14/03/2024 22:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userreg](
	[Userid] [numeric](18, 0) NOT NULL,
	[name_user] [varchar](20) NULL,
	[gender] [varchar](6) NULL,
	[email_id] [varchar](30) NULL,
	[mobile_number] [numeric](10, 0) NULL,
	[username] [varchar](20) NULL,
	[password] [varchar](15) NULL,
 CONSTRAINT [PK_userreg] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BusDetails] ON 

INSERT [dbo].[BusDetails] ([auto_id], [BusNumber], [Starting_point], [ending_point]) VALUES (CAST(1 AS Numeric(18, 0)), N'1', N'Maruthamalai', N'Avarampalayam')
INSERT [dbo].[BusDetails] ([auto_id], [BusNumber], [Starting_point], [ending_point]) VALUES (CAST(2 AS Numeric(18, 0)), N'1A', N'Ondipudur', N'Vadavalli')
INSERT [dbo].[BusDetails] ([auto_id], [BusNumber], [Starting_point], [ending_point]) VALUES (CAST(3 AS Numeric(18, 0)), N'1C', N'Ondipudur', N'Vadavalli')
GO
SET IDENTITY_INSERT [dbo].[BusDetails] OFF
GO
INSERT [dbo].[QueryTab] ([Query_no], [Query_heading], [Detailed_Query], [Com_number], [User_id]) VALUES (CAST(1 AS Numeric(18, 0)), N'Noise coming from the chair seats', N'So much noise coming from the chair seats. Maintenance is worst.', N'9842587963', CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[QueryTab] ([Query_no], [Query_heading], [Detailed_Query], [Com_number], [User_id]) VALUES (CAST(2 AS Numeric(18, 0)), N'Conductor is not giving the balance money', N'Conductor is not giving the balance money', N'9943718596', CAST(1 AS Numeric(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[StopMaster] ON 

INSERT [dbo].[StopMaster] ([Stop_id], [BusNumber], [Stop_no], [Stop_name], [Arrival_time], [Charges]) VALUES (CAST(1 AS Numeric(18, 0)), N'62', CAST(1 AS Numeric(18, 0)), N'Kovilpalayam Bus Stand', N'6:40 AM', N'20')
INSERT [dbo].[StopMaster] ([Stop_id], [BusNumber], [Stop_no], [Stop_name], [Arrival_time], [Charges]) VALUES (CAST(2 AS Numeric(18, 0)), N'62', CAST(2 AS Numeric(18, 0)), N'S.S. Kulam', N'6:42 AM', N'20')
INSERT [dbo].[StopMaster] ([Stop_id], [BusNumber], [Stop_no], [Stop_name], [Arrival_time], [Charges]) VALUES (CAST(3 AS Numeric(18, 0)), N'62', CAST(3 AS Numeric(18, 0)), N'V.J. Nagar', N'6:44 AM', N'20')
SET IDENTITY_INSERT [dbo].[StopMaster] OFF
GO
INSERT [dbo].[Table_1] ([route_name]) VALUES (N'Gandhipuram Town Bus Stand')
INSERT [dbo].[Table_1] ([route_name]) VALUES (N'Park Gate')
INSERT [dbo].[Table_1] ([route_name]) VALUES (N'V.O.C. Park')
GO
INSERT [dbo].[userreg] ([Userid], [name_user], [gender], [email_id], [mobile_number], [username], [password]) VALUES (CAST(1 AS Numeric(18, 0)), N'Anand', N'Male', N'mailtoanandcbe@gmail.com', CAST(9843462104 AS Numeric(10, 0)), N'12345', N'12345')
INSERT [dbo].[userreg] ([Userid], [name_user], [gender], [email_id], [mobile_number], [username], [password]) VALUES (CAST(5 AS Numeric(18, 0)), N'Prabha', N'Male', N'prabhashankark@gmail.com', CAST(9843462104 AS Numeric(10, 0)), N'kishore', NULL)
INSERT [dbo].[userreg] ([Userid], [name_user], [gender], [email_id], [mobile_number], [username], [password]) VALUES (CAST(6 AS Numeric(18, 0)), N'Shankar', N'Male', N'shankar123@gmail.com', CAST(9843614099 AS Numeric(10, 0)), N'shankar', N'12345')
GO
USE [master]
GO
